### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage reports
htmlcov/
.coverage*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.venv*
.env*

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints/
**/.ipynb_checkpoints/*

# pyenv
.python-version

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Encrypted files
*.key

# Distribution logs
pip-log.txt
pip-delete-this-directory.txt

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

### IDEs and Editors ###
# VSCode
.vscode/
.history/

# PyCharm
.idea/

# Vim
*.swp
.swp
.swo
*.un~

# Sublime Text
*.sublime-project
*.sublime-workspace

# Emacs
*~

### Operating Systems ###
# MacOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Windows
Thumbs.db
ehthumbs.db
[Dd]esktop.ini

### Logs and Databases ###
*.log
*.sql
*.sqlite
*.sqlite3
db.sqlite3

### Miscellaneous ###
docs/_build/
*.stackdump
*.cab
*.msi
*.msix
*.msm
*.msp
*.lnk

# Custom files and directories to ignore
downloads/
extractions/
aggregated/
data/
